// font import
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//icomoon import
@import url("./icons/style.css");

// style reset import
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$black: #000;
$white: #fff;
$green: #19ba99;
$grey: #cbd5d2;
$bodybg: #eef3f6;
$input-todo-bgc: rgba(255, 255, 255, 0.3);
$font-size: 16px;

* {
  box-sizing: border-box;
}

body {
  background-color: $bodybg;
  font-size: $font-size;
  font-family: "Roboto", sans-serif;
}

.todoApp {
  width: 40%;
  margin: 5% auto;
  &__form {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background-color: $green;
    margin-bottom: 20px;
    input {
      font-size: $font-size;
      font-family: "Roboto", sans-serif;
      color: $white;
      padding: 20px;
      border-radius: 5px;
      background-color: $input-todo-bgc;
      outline: none;
      border: none;
      width: calc(100% - 30px);
      &::placeholder {
        color: $white;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
    &__button {
      font-size: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 18px 21.5px;
      background-color: $white;
      border-radius: 50%;
      color: $green;
    }
  }
  &__list {
    margin: 0 auto;
    width: 95%;

    &__item {
      box-shadow: 2px 2px 1px $grey;
      display: flex;
      border-radius: 5px;
      background-color: $white;
      margin-bottom: 10px;
      padding: 20px;
      .icon {
        font-size: 28px;
        &--remove {
          position: relative;
          color: $grey;
          align-self: end;
          margin-left: auto;
          margin-right: 40px;
          &:hover {
            color: red;
          }
          &::after {
            content: "";
            height: 38px;
            border-right: 1px solid $grey;
            display: block;
            position: absolute;
            top: -4px;
            left: 44px;
          }
        }
        &--check {
          color: $green;
        }
        &--uncheck {
          color: $green;
        }
      }
      span {
        line-height: 30px;
      }
      .icon--check {
        display: none;
      }
      &--checked {
        text-decoration: line-through;
        text-decoration-color: $green;
        .icon--check {
          display: inline-block;
        }
        .icon--uncheck {
          display: none;
        }
      }
    }
  }
}
