// font import
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//icomoon import
@import url("./icons/style.css");

// style reset import
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

$black: #000;
$white: #fff;
$green: #19ba99;
$grey: #cbd5d2;
$bodybg: #eef3f6;
$input-todo-bgc: rgba(255, 255, 255, 0.3);
$font-size: 16px;

* {
  box-sizing: border-box;
}

body {
  background-color: $bodybg;
  font-size: $font-size;
  font-family: "Roboto", sans-serif;
}

.todoApp {
  width: 40%;
  margin: 5% auto;
  &__form {
    border-radius: 10px;
    padding: 20px;
    background-color: $green;
    margin-bottom: 20px;
    input {
      color: $white;
      padding: 20px;
      border-radius: 5px;
      background-color: $input-todo-bgc;
      outline: none;
      border: none;
      width: 100%;
      &::placeholder {
        color: $white;
      }
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  &__list {
    margin: 0 auto;
    width: 95%;

    &__item {
      display: flex;
      border-radius: 5px;
      background-color: $white;
      margin-bottom: 10px;
      padding: 20px;
      .icon {
        &--remove {
          color: $grey;
          align-self: end;
          margin-left: auto;
          &:hover {
            color: red;
          }
        }
        &--check {
          color: $green;
        }
      }
    }
  }
}
